//display widths
$max-mobile-width: "(max-width: 767px)";
$max-mobile-wrapper: 540px;

$min-tablet-width: "(min-width: 768px)";
$max-tablet-width: "(max-width: 1199px)";
$tablet-width-only: "(min-width: 768px) and (max-width: 1199px)";
$max-tablet-wrapper: 960px;

$min-desktop-width: "(min-width: 1200px)";
$max-desktop-wrapper: 1200px;

$min-fullhd-width: "(min-width: 1921px)";

//blocks
$padding--mobile: 10px;
$padding--tablet: 20px;

//text
$color--main: #333333;

$font--main:  "montserrat", Arial, sans-serif;
$font--alt:  "exo2.0", Arial, sans-serif;

//backgrounds
$bg--main: #ffffff;
$bg--alt1: #e4e1dc;
$bg--alt2: #f6f5f3;

$box-shadow: 0 3px 21px 0 rgba(176, 173, 168, .4);

$bg--cards: #fffffe;

$bg--5000: #faf9f8;

$bg--utp: #f9f7f4;

$bg--button: #a9907a;

$bg--footer: #e4e1dc;

//buttons
$main-btn-color: #ff3400;