@charset "UTF-8";
@font-face {
  font-family: 'exo2.0';
  src: url("../fonts/Exo20-BoldItalic.eot");
  src: url("../fonts/Exo20-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Exo20-BoldItalic.woff") format("woff"), url("../fonts/Exo20-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: 'exo2.0';
  src: url("../fonts/Exo20-Bold.eot");
  src: url("../fonts/Exo20-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Exo20-Bold.woff") format("woff"), url("../fonts/Exo20-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'exo2.0';
  src: url("../fonts/Exo20-Italic.eot");
  src: url("../fonts/Exo20-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Exo20-Italic.woff") format("woff"), url("../fonts/Exo20-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'exo2.0';
  src: url("../fonts/Exo20-Regular.eot");
  src: url("../fonts/Exo20-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Exo20-Regular.woff") format("woff"), url("../fonts/Exo20-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'montserrat';
  src: url("../fonts/Montserrat-Medium.eot");
  src: url("../fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'montserrat';
  src: url("../fonts/Montserrat-MediumItalic.eot");
  src: url("../fonts/Montserrat-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-MediumItalic.woff") format("woff"), url("../fonts/Montserrat-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'montserrat';
  src: url("../fonts/Montserrat-Black.eot");
  src: url("../fonts/Montserrat-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Black.woff") format("woff"), url("../fonts/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "montserrat", Arial, sans-serif;
  font-weight: 500;
  color: #333333;
  margin: 0;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s; }
  @media (max-width: 767px) {
    body {
      font-size: 15px; } }
  @media (min-width: 768px) {
    body {
      font-size: 12px; } }
  @media (min-width: 1200px) {
    body {
      font-size: 15px; } }

.visually-hidden {
  position: absolute;
  width: 1px !important;
  height: 1px !important;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

input[type="submit"] {
  cursor: pointer; }

input[type="number"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
textarea:focus {
  outline: none; }

input:focus,
button:focus {
  outline-width: 0;
  outline: none; }

button {
  cursor: pointer; }

label {
  cursor: pointer; }

.clearfix::after {
  content: "";
  /* Генерируем пустой элемент */
  clear: both;
  /* Отменяем обтекание*/
  display: block;
  /* Блочный элемент */ }

.disable {
  display: none !important; }

.header input,
.header textarea,
.header select,
.footer input,
.footer textarea,
.footer select,
.main input,
.main textarea,
.main select,
.main-nav input,
.main-nav textarea,
.main-nav select {
  font-size: 14px; }

.header img,
.footer img,
.main img,
.main-nav img {
  width: 100%;
  height: auto; }

.header ul,
.footer ul,
.main ul,
.main-nav ul {
  list-style-type: none; }

.header a,
.footer a,
.main a,
.main-nav a {
  text-decoration: none;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s; }

.page-header,
.page-footer,
.main {
  overflow: hidden; }

/*header-footer*/
.header-footer__wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 767px) {
    .header-footer__wrapper {
      padding-left: 10px;
      padding-right: 10px; } }
  @media (min-width: 768px) {
    .header-footer__wrapper {
      padding-left: 20px;
      padding-right: 20px; } }
  @media (max-width: 767px) {
    .header-footer__wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding-top: 10px;
      padding-bottom: 10px; } }
  @media (min-width: 768px) {
    .header-footer__wrapper {
      padding-top: 7px;
      padding-bottom: 7px; } }
  @media (min-width: 1200px) {
    .header-footer__wrapper {
      padding-top: 10px;
      padding-bottom: 10px; } }

@media (max-width: 767px) {
  .header-footer__logo-container {
    width: 152px;
    margin-bottom: 10px; } }

@media (min-width: 768px) {
  .header-footer__logo-container {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 106px;
    margin-right: 16px; } }

@media (min-width: 1200px) {
  .header-footer__logo-container {
    width: 152px;
    margin-right: 23px; } }

.header-footer__logo-link {
  display: block; }

@media (max-width: 767px) {
  .header-footer__main-container {
    width: 100%; } }

@media (min-width: 768px) {
  .header-footer__main-container {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; } }

@media (max-width: 767px) {
  .header-footer__descriptions {
    display: none; } }

@media (min-width: 768px) {
  .header-footer__descriptions {
    border-bottom: 1px solid #f0f0f0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 13px; } }

.header-footer__description--1 {
  padding-right: 20px; }

.header-footer__interactive-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (min-width: 768px) {
    .header-footer__interactive-container {
      padding-top: 10px;
      padding-bottom: 3px; } }

@media (max-width: 767px) {
  .header-footer__burger-btn-container {
    width: 35px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 10px; } }

@media (min-width: 768px) {
  .header-footer__burger-btn-container {
    display: none; } }

.header-footer__burger-btn {
  font-size: 0;
  width: 100%;
  height: 35px;
  background-color: transparent;
  border: 0 solid transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("../img/burger.svg"); }

.header-footer__city-container {
  margin-right: auto;
  font-size: 11.5px; }

.header-footer__city-notice {
  padding-right: 5px; }

.header-footer__city-btn {
  text-decoration: underline;
  color: #0071cb;
  padding: 5px 10px 5px 0;
  background-color: transparent;
  border: 0 solid transparent; }

.header-footer__phone-link {
  color: #333333; }
  .header-footer__phone-link:visited {
    color: #333333; }
  @media (min-width: 768px) {
    .header-footer__phone-link {
      font-size: 14px; } }
  @media (min-width: 1200px) {
    .header-footer__phone-link {
      font-size: 16px; } }

@media (max-width: 767px) {
  .header-footer__phone-link--1 {
    font-size: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("../img/phone_icon.svg");
    margin-right: 10px;
    margin-left: auto; } }

@media (min-width: 768px) {
  .header-footer__phone-link--1 {
    margin-right: 20px; } }

@media (min-width: 1200px) {
  .header-footer__phone-link--1 {
    margin-right: 35px; } }

@media (max-width: 767px) {
  .header-footer__phone-link--2 {
    display: none; } }

@media (min-width: 768px) and (max-width: 1199px) {
  .header-footer__phone-link--2 {
    display: none; } }

.header-footer__callback-btn-container {
  width: 189px; }
  @media (min-width: 768px) {
    .header-footer__callback-btn-container {
      margin-left: 28px; } }
  @media (min-width: 1200px) {
    .header-footer__callback-btn-container {
      margin-left: 40px; } }

.header-footer__callback-btn {
  background-color: #ff3400;
  min-height: 36px;
  border-radius: 5px;
  border: 0 solid transparent;
  -webkit-box-shadow: 0 2px 10px 0 rgba(255, 52, 0, 0.6);
  box-shadow: 0 2px 10px 0 rgba(255, 52, 0, 0.6);
  font-weight: 900;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 6px;
  display: block;
  width: 100%;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  padding-left: 25px;
  font-size: 11.5px;
  background-repeat: no-repeat;
  background-position: 14px center;
  background-size: 16px auto;
  background-image: url("../img/phone.svg"); }
  .header-footer__callback-btn:hover {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 52, 0, 0.6);
    box-shadow: 0 0 0 0 rgba(255, 52, 0, 0.6);
    background-color: #e80000; }

@media (max-width: 767px) {
  .header-footer__socials {
    display: none; } }

@media (min-width: 768px) {
  .header-footer__socials {
    font-size: 0;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }

.header-footer__social-item {
  width: 25px;
  height: 25px;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 15px; }

.header-footer__social-item:first-child {
  margin-top: 0; }

.header-footer__social-item:last-child {
  margin-bottom: 0; }

.header-footer__social-link {
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center; }

.header-footer__social-link--vk {
  background-image: url("../img/vk.svg");
  background-size: 14px auto; }

.header-footer__social-link--ok {
  background-image: url("../img/ok.svg");
  background-size: 14px auto; }

.header-footer__social-link--insta {
  background-image: url("../img/insta.svg");
  background-size: 14px auto; }

/*/header-footer*/
/*main-nav*/
.main-nav {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px; }
  @media (max-width: 767px) {
    .main-nav {
      padding-left: 10px;
      padding-right: 10px; } }
  @media (min-width: 768px) {
    .main-nav {
      padding-left: 20px;
      padding-right: 20px; } }
  @media (max-width: 767px) {
    .main-nav {
      padding-left: 0;
      padding-right: 0; } }

.main-nav__wrapper {
  position: relative; }
  @media (min-width: 768px) {
    .main-nav__wrapper::before {
      position: absolute;
      content: "";
      left: -10%;
      top: 0;
      width: 120%;
      height: 2px;
      background-color: #ffde6d; } }

@media (max-width: 767px) {
  .main-nav__container {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: absolute;
    left: -10000px;
    top: 0;
    font-size: 14px;
    width: 100%;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2); } }

@media (max-width: 767px) {
  .main-nav__container.active {
    left: 0; } }

.main-nav__list {
  font-family: "exo2.0", Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0; }
  @media (min-width: 768px) {
    .main-nav__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      font-size: 12px;
      padding-left: 0;
      padding-top: 10px;
      padding-bottom: 10px; } }
  @media (min-width: 1200px) {
    .main-nav__list {
      font-size: 14px; } }

@media (max-width: 767px) {
  .main-nav__item {
    margin-top: 10px; } }

.main-nav__link {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "exo2.0", Arial, sans-serif;
  color: #333333; }
  .main-nav__link:hover, .main-nav__link:active {
    color: #0d4f84; }
  .main-nav__link:visited {
    color: #333333; }
  @media (max-width: 767px) {
    .main-nav__link {
      display: block; } }
  @media (min-width: 768px) {
    .main-nav__link {
      display: inline-block;
      padding-left: 8px;
      padding-right: 8px; } }

@media (min-width: 768px) {
  .main-nav__item:first-child .main-nav__link {
    padding-left: 0; } }

@media (min-width: 768px) {
  .main-nav__item:last-child .main-nav__link {
    padding-right: 0; } }

@media (max-width: 767px) {
  .main-nav__notice {
    display: block;
    text-align: center;
    margin-top: 20px; } }

@media (min-width: 768px) {
  .main-nav__notice {
    display: none; } }

@media (max-width: 767px) {
  .main-nav__socials {
    font-size: 0;
    padding-left: 0;
    margin-top: 15px;
    margin-bottom: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

@media (min-width: 768px) {
  .main-nav__socials {
    display: none; } }

.main-nav__social-item {
  width: 25px;
  height: 25px;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 10px;
  margin-right: 10px; }

.main-nav__social-item:first-child {
  margin-top: 0; }

.main-nav__social-item:last-child {
  margin-bottom: 0; }

.main-nav__social-link {
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center; }

.main-nav__social-link--vk {
  background-image: url("../img/vk.svg");
  background-size: 14px auto; }

.main-nav__social-link--ok {
  background-image: url("../img/ok.svg");
  background-size: 14px auto; }

.main-nav__social-link--insta {
  background-image: url("../img/insta.svg");
  background-size: 14px auto; }

/*/main-nav*/
/*footer*/
.footer {
  border-top: 3px solid #ffd200; }

.footer .header-footer {
  background-color: #f9f9f9; }

footer .header-footer__burger-btn-container {
  display: none; }

/*/footer*/
.bottom-nav {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../img/footer-bg.jpg"); }

.bottom-nav__wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 767px) {
    .bottom-nav__wrapper {
      padding-left: 10px;
      padding-right: 10px; } }
  @media (min-width: 768px) {
    .bottom-nav__wrapper {
      padding-left: 20px;
      padding-right: 20px; } }
  @media (max-width: 767px) {
    .bottom-nav__wrapper {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding-bottom: 25px; } }
  @media (min-width: 768px) {
    .bottom-nav__wrapper {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding-top: 30px;
      padding-bottom: 10px; } }

@media (max-width: 767px) {
  .bottom-nav__container {
    width: 50%;
    margin-top: 20px;
    padding-right: 20px; } }

@media (min-width: 768px) {
  .bottom-nav__container {
    width: 33%;
    padding-left: 35px; } }

@media (min-width: 1200px) {
  .bottom-nav__container {
    padding-left: 55px; } }

.bottom-nav__container-link.bottom-nav__container-link--main {
  font-size: 14px; }
  @media (min-width: 1200px) {
    .bottom-nav__container-link.bottom-nav__container-link--main {
      font-size: 16px; } }
  .bottom-nav__container-link.bottom-nav__container-link--main.highlight {
    position: relative; }
    .bottom-nav__container-link.bottom-nav__container-link--main.highlight:after {
      position: absolute;
      content: "";
      left: 0;
      bottom: -5px;
      width: 100%;
      height: 2px;
      background-color: #0069c5; }

.bottom-nav__container-list {
  padding-left: 0; }

.bottom-nav__container-item {
  margin-top: 15px;
  margin-bottom: 15px; }
  .bottom-nav__container-item.highlight {
    margin-top: 19px;
    margin-bottom: 19px; }
    .bottom-nav__container-item.highlight .bottom-nav__container-link {
      position: relative;
      font-size: 14px; }
      @media (min-width: 1200px) {
        .bottom-nav__container-item.highlight .bottom-nav__container-link {
          font-size: 16px; } }
      .bottom-nav__container-item.highlight .bottom-nav__container-link:after {
        position: absolute;
        content: "";
        left: 0;
        bottom: -5px;
        width: 100%;
        height: 2px;
        background-color: #0069c5; }

.bottom-nav__container-link {
  color: #333333;
  font-size: 12px; }
  @media (min-width: 1200px) {
    .bottom-nav__container-link {
      font-size: 14px; } }
  .bottom-nav__container-link:hover {
    color: #333333; }

.copyright__container {
  font-size: 10px; }
  @media (max-width: 767px) {
    .copyright__container {
      margin-top: 30px; } }
  @media (min-width: 768px) {
    .copyright__container {
      margin-top: 60px; } }
  @media (min-width: 1200px) {
    .copyright__container {
      margin-top: 85px;
      font-size: 12px; } }

.copyright__year {
  display: block; }

.copyright__developer {
  display: block; }
  @media (max-width: 767px) {
    .copyright__developer {
      margin-top: 5px; } }
  @media (min-width: 768px) {
    .copyright__developer {
      margin-top: 14px; } }
  @media (min-width: 1200px) {
    .copyright__developer {
      margin-top: 20px; } }

.copyright__developer-link {
  color: #333333; }
