/*main-nav*/
.main-nav {
  @include paddings;
  @include centers;
  @include section-width;
  @media #{$max-mobile-width} {
    padding-left: 0;
    padding-right: 0;
  }
}
.main-nav__wrapper {
  position: relative;
  &::before {
    @media #{$min-tablet-width} {
      position: absolute;
      content: "";
      left: -10%;
      top: 0;
      width: 120%;
      height: 2px;
      background-color: #ffde6d;
    }
  }
}
.main-nav__container {
  @media #{$max-mobile-width} {
    transition: all 0.3s ease 0s;
    position: absolute;
    left: -10000px;
    top: 0;
    font-size: 14px;
    width: 100%;
    padding-left: 20px;
    padding-right: $padding--mobile;
    padding-top: 10px;
    padding-bottom: 20px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
  }
  &.active {
    @media #{$max-mobile-width} {
      left: 0;
    }
  }
}
.main-nav__list {
  font-family: $font--alt;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;

  @media #{$min-tablet-width} {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  @media #{$min-desktop-width} {
    font-size: 14px;
  }
}
.main-nav__item {
  @media #{$max-mobile-width} {
    margin-top: 10px;
  }
}
.main-nav__link {
  padding-top: 10px;
  padding-bottom: 10px;
  color: $color--main;
  &:visited {
    color: $color--main;
  }
  @media #{$max-mobile-width} {
    display: block;
  }
  @media #{$min-tablet-width} {
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
  }
}
.main-nav__item:first-child .main-nav__link {
  @media #{$min-tablet-width} {
    padding-left: 0;
  }
}
.main-nav__item:last-child .main-nav__link {
  @media #{$min-tablet-width} {
    padding-right: 0;
  }
}
.main-nav__notice {
  display: block;
  text-align: center;
  margin-top: 20px;
}
.main-nav__socials {
  @media #{$max-mobile-width} {
    font-size: 0;
    padding-left: 0;
    margin-top: 15px;
    margin-bottom: 10;
    display: flex;
    justify-content: center;
  }
  @media #{$min-tablet-width} {
    display: none;
  }
}
.main-nav__social-item {
  width: 25px;
  height: 25px;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 10px;
  margin-right: 10px;
}
.main-nav__social-item:first-child {
  margin-top: 0;
}
.main-nav__social-item:last-child {
  margin-bottom: 0;
}
.main-nav__social-link {
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.main-nav__social-link--vk {
  background-image: url("../img/vk.svg");
  background-size: 14px auto;
}
.main-nav__social-link--ok {
  background-image: url("../img/ok.svg");
  background-size: 14px auto;
}
.main-nav__social-link--insta {
  background-image: url("../img/insta.svg");
  background-size: 14px auto;
}
/*/main-nav*/